*{
  margin: 0;
  padding: 0;
}
/* Navbar start */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* Navbar end */
/* home section start */
.homeSlider{
  background: url("https://ritzyware.com/uploads/file_1670843516384.jpg");
  height: 70vh;
  margin-top: 10vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.cardlist{
  margin: 80px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Card img{
  height: 40px;
}
.Card{
  margin: 5px 15px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}
.Card h6{
  font-family: cursive;
  text-align: center;
  background: ghostwhite;
}
.chooseSection{
  display: flex;
  margin: 0px 150px;
}
.chooseSection div{
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
.rightSection{
  background: gainsboro;
}
.productsSection{
  padding: 30px 150px;
  margin: 30px 0px;
  font-family: cursive;
  background-color: whitesmoke;
}
.ourClients{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ourClients img{
  width: 100%;
  height: 20vh;
}
.clientReviewList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}
.clientSpeekSection{
  margin: 20px 150px;
}
.reviewCard{
  background-color: seagreen;
  color: ghostwhite;
  box-shadow: 2px 3px 3px  black;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
}
.someClientReview{
  display: flex;
  justify-content: space-between;
}
.someClientReview div{
  margin: 5px;
  padding: 10px;
}
.imageGallery{
  display: grid;
  text-align: center;
  margin: 0px 150px;
  grid-template-columns: 1fr 1fr 1fr ;
}
.imageGallery img{
  background-color: red;
  height: 200px;
  width: 100%;
}
/* home section end */

/* footer start */
footer{
  display: flex;
  justify-content: space-between;
  padding: 40px 150px;
  margin-top: 20px;
  background-color: seagreen;
  color: gainsboro;
}
/* footer end */